@charset "UTF-8";
/*clearfix----------------*/
.clearfix::after {
  content:"";
  display:block;
  clear:both;
}
body {
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 62.5%;
  color: rgb(32, 32, 32);
  height: auto;
  margin: 0;
}
p {
  font-size: 1.2em;
}
h3 {
  color: #a7493d;
  font-size: 1.4em;
  padding: 10px 0;
  margin: 0 auto;
}
a {
  color: #383838;
  text-decoration: none;
  font-size: 1.2em;
}
a:hover {
  border: none;
}
i {
  padding: 0 .5em;
}
header {
  width: 100%;
  height: 450px;
  background: #fffcf4;
  border-bottom: solid 1px rgb(177, 176, 174);
}
#logo {
  display: flex;
  justify-content: center;
  width: 20%;
  height: auto;
  padding-top: 14px;
  z-index: 3;
  float: left;
  cursor: pointer;
}
#logo a {
  text-align: center;
}
#logo img {
  width: 78%;
  margin: 0 auto;
  transition: .2s;
}
#logo img:hover {
  transform: scale(1.1);
}
#header-image {
  display: block;
  width: 80%;
  height: 450px;
  margin-left: 20%;
  background-image: url(../images/header-2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}
#wrapper {
  max-width: 950px;
  margin: 0 auto;
}
#heading {
  display: flex;
  align-items: center;
  margin: 40px auto 24px auto;
}
#heading .fas {
  color: #a7493d;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form--group {
  margin: 0;
  padding: .8em 1.2em;
}
form label {
  margin: 0;
  padding: 0 .4em;
  border-left: solid 2px #a7493d;
}
form select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  height: 24px;
  margin: 8px 0;
  padding: 0 16px;
  color: #5a5a5a;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 .8px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
form select::-ms-expand {
  display: none;
}
form select:hover {
  background: rgb(240, 240, 240);
}
form select:focus {
  outline: 0;
  box-shadow: 0 0 0 .8px #ac6157 inset;
}
button.search-button {
  display: block;
  width: 26%;
  height: 36px;
  margin: 12px auto 40px auto;
  padding: 8px 16px;
  border: 2px solid #a7493d;
  font-size: 1.2em;
  color: #a7493d;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 4px;
  transition: .3s;
}
button.search-button:hover {
  background-color: #ac6157;
  border-color: #ac6157;
  color: white;
}
#result--area {
  background: rgb(230, 230, 230);
  margin: 40px auto 0 auto;
  padding: 32px 12px 72px 12px;
  border-top: solid 1px rgb(170, 170, 170);
}
.contents {
  display: block;
  margin: 12px auto;
}
ul {
  display: flex;
  align-items: center;
  height: 213.2px;
  background: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: .5em .5em .5em 2em;
  cursor: pointer;
  transition: .2s;
}
ul .shop--info {
  width: 65%;
  display: block;
}
ul li {
  list-style-type: none;
  line-height: 1.5;
  padding: .8em;
}
ul .image {
  display: flex;
  align-items: center;
  float: left;
  overflow: hidden;
  padding: .8em .8em .8em .4em;
}
ul .more {
  align-self: center;
  padding-right: .4em;
}
ul .catch {
  color: #a7493d;
}
ul:hover {
  background: rgb(248, 248, 248);
  transform: scale(.95);
}
.name a {
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(54, 63, 187);
}
.name a:hover {
  text-decoration: underline;
}
.shop-more {
  display: none;
}
.page, span {
  margin: 16px 0;
}
.next {
  width: 500px;
}
span a {
  margin: 4px 7px;
  display: inline-block;
  cursor: pointer;
  padding: 0 .4em;
  color: rgb(138, 138, 138);
  font-weight: lighter;
  background: rgb(248, 248, 248);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;  font-size: 1.4em;
}
span a:hover {
  background: rgb(180, 180, 180);
  color: rgb(248, 248, 248);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 12px 0;
  background: #383838;
}
footer p, footer a {
  font-size: 1.1em;
  color: white;
  text-decoration: underline;
}
footer a:hover {
  color: rgb(230, 230, 230);
}
